<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/master.css">
    <title>Vue Boolflix</title>
</head>

<body>
    <div id="root">
        <header>
            <nav>
                <div class="logo"></div>
                <div class="menu">
                    <i class="fas fa-sliders-h" @click="openFilter()"></i>
                    <div class="filter" :class="toggleOpenFilter ? 'active' : ''">
                        <div class="filmsSeries">
                            <span :class="toggleFilmsSeries ? 'active' : ''" class="btn-menu" @click="toggleFilmSerie()">Film</span>
                            <span :class="toggleFilmsSeries ? '' : 'active'" class="btn-menu" @click="toggleFilmSerie()">Serie</span>
                        </div>
                        <div class="categories">
                            <ul>
                                <li @click="selectCategorie(index)" v-for="(category, index) in (toggleFilmsSeries ? categoriesMovie : categoriesSeries)" :key="index" :class="index == indexCategory ? 'active' : ''" class="btn">{{category.name}}</li>
                            </ul>
                        </div>
                    </div>
                    <input type="text" placeholder="cerca" v-model="searchFilm" @keyup="mariello">
                </div>
            </nav>
        </header>
        <main>
            <div v-if="toggleFilmsSeries" class="row">
                <h1 class="category">Film</h1>
                <div class="card" v-for="(film, index) in films" :key="index">
                    <div class="card-front">
                        <img :src="`https://image.tmdb.org/t/p/original/${film.poster_path}`" alt="">
                    </div>
                    <div class="card-rear">
                        <span class="title">{{film.title}}</span>
                        <span>{{film.original_title}}</span>
                        <img class="flag" v-if="film.original_language == 'en'" src="https://www.countryflags.io/us/shiny/16.png">
                        <img class="flag" v-else-if="film.original_language == 'ja'" src="https://www.countryflags.io/jp/shiny/16.png">
                        <img class="flag" v-else :src="`https://www.countryflags.io/${film.original_language}/shiny/16.png`">
                        <div class="stars-vote">
                            <i v-for="(star, index) in stars(film)" :key="index" class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="row">
                <h1 class="category">Serie tv</h1>
                <div class="card" v-for="(series, index) in tvSeries" :key="index">
                    <div class="card-front">
                        <img :src="`https://image.tmdb.org/t/p/original/${series.poster_path}`" alt="">
                    </div>
                    <div class="card-rear">
                        <span class="title">{{series.name}}</span>
                        <span>{{series.original_name}}</span>
                        <img class="flag" v-if="series.original_language == 'en'" src="https://www.countryflags.io/us/shiny/16.png">
                        <img class="flag" v-else-if="series.original_language == 'ja'" src="https://www.countryflags.io/jp/shiny/16.png">
                        <img class="flag" v-else :src="`https://www.countryflags.io/${series.original_language}/shiny/16.png`">
                        <div class="stars-vote">
                            <i v-for="(star, index) in stars(series)" :key="index" class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>