    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        border: none;
        outline: none;
        font-family: 'Dela Gothic One', cursive;
        list-style: none;
    }
    
    body {
        background-color: rgb(27, 27, 27);
        overflow-y: auto;
    }
    /* HEADER */
    
    a {
        text-decoration: none;
        color: white;
    }
    
    nav {
        height: 7vh;
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding: 5px 30px;
    }
    
    nav .logo {
        height: 100%;
        width: 20%;
        color: red;
        display: flex;
        align-items: center;
    }
    
    nav .menu {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: white;
        position: relative;
    }
    
    nav i {
        cursor: pointer;
        font-size: 20px;
    }
    
    nav .menu>* {
        margin-left: 20px;
    }
    
    input {
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    nav .filter {
        display: none;
        position: fixed;
        top: 7vh;
        right: 0;
        z-index: 10;
        flex-direction: column;
        width: 60vw;
        padding: 20px;
        background-color: black;
    }
    
    .filmsSeries {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
    }
    
    .btn,
    .btn-menu {
        color: white;
        background-color: rgb(27, 27, 27);
        padding: 5px 15px;
        border-radius: 10px;
        cursor: pointer;
        margin: 0;
    }
    
    .active {
        background-color: rgb(66, 66, 66);
        display: flex !important;
    }
    
    .categories ul {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    
    .categories ul li {
        display: flex;
        justify-content: center;
        margin: 5px;
        width: calc(100% / 3 - 10px);
        text-align: center;
        font-size: 10px;
    }
    /* MAIN */
    
    .preview {
        position: fixed;
        display: flex;
        flex-direction: column;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: red;
        height: 80vh;
        width: 80vw;
        z-index: 15;
        border-radius: 10px;
        color: white;
    }
    
    .img-preview {
        width: 100%;
        height: 100%;
        background-color: violet;
        border-radius: 10px;
    }
    
    .img-preview img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .info-film {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .9);
        position: absolute;
        bottom: 0;
        left: 0;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .preview:hover .info-film {
        display: flex;
    }
    
    .preview h1 {
        text-align: center;
    }
    
    .wrap-info {
        display: flex;
        width: 100%;
        height: 100%;
    }
    
    .wrap-info>div {
        width: 50%;
        padding: 20px;
    }
    
    .description>* {
        margin-bottom: 20px;
    }
    
    .description p {
        font-size: 12px;
    }
    
    main .row {
        padding: 70px 30px 40px 30px;
        background-color: rgb(27, 27, 27);
        display: flex;
        overflow-x: auto;
        min-width: 100%;
        position: relative;
        margin-top: 20px;
        position: relative;
    }
    
    .category {
        position: absolute;
        top: 0;
        left: 30px;
        color: white;
    }
    
     ::-webkit-scrollbar {
        width: 13px;
        height: 13px;
    }
    
     ::-webkit-scrollbar-thumb {
        background: linear-gradient(13deg, #f9d4ff 14%, #c7ceff 64%);
        border-radius: 10px;
    }
    
     ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
    }
    
     ::-webkit-scrollbar-track {
        background: rgb(27, 27, 27);
    }
    
    .card {
        margin: 5px;
        position: relative;
        display: flex;
        cursor: pointer;
    }
    
    .card-front img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        border-radius: 5px;
    }
    
    .card-rear,
    .card-front {
        height: 200px;
        top: 0;
        left: 0;
        display: flex;
        position: relative;
    }
    
    .card-front {
        width: 130px;
    }
    
    .card-rear {
        color: white;
        width: 100px;
        background-color: black;
        display: none;
        border-radius: 0 5px 5px 0;
    }
    
    .card:hover .card-rear {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        opacity: .8;
        padding: 20px 5px;
        text-align: center;
        font-size: 10px;
    }
    /* .card:hover,
    .card:focus {
        transform: scale(1.3);
        z-index: 5;
    } */
    
    .title {
        font-size: 15px;
    }
    
    .stars-vote {
        display: flex;
    }